<div style="text-align: center;">
  <h1> Welcome to Democracy India </h1>
</div>
<p style="text-align: center;">All about democracy and politics behind it!</p>
<ul style="text-align: center;">
  <li style="display: inline;">
    <h2 style="display: inline;">
      <a routerLink="/">Home</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    </h2>
  </li>
  <li style="display: inline;">
    <h2 style="display: inline;">
      <a routerLink="/democracy">Democracy</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    </h2>
  </li>
  <li style="display: inline;">
    <h2 style="display: inline;">
      <a routerLink="/elections">Elections</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    </h2>
  </li>
  <li style="display: inline;">
    <h2 style="display: inline;">
      <a routerLink="/candidates">Candidates</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    </h2>
  </li>
  <li style="display: inline;">
    <h2 style="display: inline;">
      <a routerLink="/news">News</a>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    </h2>
  </li>
  <li style="display: inline;">
    <h2 style="display: inline;">
      <a routerLink="/blog">Blog</a>
    </h2>
  </li>
</ul>
