<h2>Election</h2>
<p>Election is "the" process in a democracy where people elect their representatives by casting their vote to work for them by passing laws and regulations.</p>

<h2>Elections</h2>
<ul>
  <li style="display: inline;">
    <button>General Elections</button>&nbsp;|
  </li>
  <li style="display: inline;">
    <button>Assembly Elections</button>
  </li>
</ul>

<ul>
  <li><a href="/election-details/2019-general-elections">2019 General Elections</a></li>
  <li><a href="/election-details/2014-general-elections">2014 General Elections</a></li>
  <li><a href="/election-details/2009-general-elections">2009 General Elections</a></li>
  <li><a href="/election-details/2004-general-elections">2004 General Elections</a></li>
  <li><a href="/election-details/1999-general-elections">1999 General Elections</a></li>
  <li><a href="/election-details/1998-general-elections">1998 General Elections</a></li>
  <li><a href="/election-details/1996-general-elections">1996 General Elections</a></li>
  <li><a href="/election-details/1991-general-elections">1991 General Elections</a></li>
  <li><a href="/election-details/1989-general-elections">1989 General Elections</a></li>
  <li><a href="/election-details/1984-general-elections">1984 General Elections</a></li>
  <li><a href="/election-details/1980-general-elections">1980 General Elections</a></li>
  <li><a href="/election-details/1977-general-elections">1977 General Elections</a></li>
  <li><a href="/election-details/1971-general-elections">1971 General Elections</a></li>
  <li><a href="/election-details/1967-general-elections">1967 General Elections</a></li>
  <li><a href="/election-details/1962-general-elections">1962 General Elections</a></li>
  <li><a href="/election-details/1957-general-elections">1957 General Elections</a></li>
  <li><a href="/election-details/1951-52-general-elections">1951-52 General Elections</a></li>
</ul>
