<h2>Candidates</h2>

<h4>Election : 2019 General Elections</h4>
<h4>State : All</h4>
<h4>Constituency : All</h4>

<ul>
  <li><a href="/candidate-details/AyyajiVema-Manepalli">AyyajiVema Manepalli</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Dr-Gandi-Venkata-Satyanarayana">Dr. Gandi Venkata Satyanarayana</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Hamsa-Devineni">Hamsa Devineni</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/K-V-V-Satyanarayan-Reddy">K V V Satyanarayan Reddy</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Dr-Challagali-Kishore-Kumar">Dr. Challagali Kishore Kumar</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Jayaram-Duggani">Jayaram Duggani</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Chinnam-Ramkotaya">Chinnam Ramkotaya</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/ValluruJayaprakash-Narayana">ValluruJayaprakash Narayana</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Pogala-Venkata-Parthasarthi">Pogala Venkata Parthasarthi</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Singa-Reddy-Ramchandra-Reddy">Singa Reddy Ramchandra Reddy</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/YallaVenkata-Ramamohana-Rao-(Dorabab)">YallaVenkata Ramamohana Rao (Dorababu)</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Dr-P-V-Parthasarthi">Dr. P V Parthasarthi</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Gudivaka-Ramanjaneyulu">Gudivaka Ramanjaneyulu</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Dr-AdinarayanaInti">Dr. AdinarayanaInti</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Shri-Kanna-Lakshminarayana">Shri Kanna Lakshminarayana</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Paidikonda-Manikyalarao">Paidikonda Manikyalarao</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Suresh-Reddy-Sannapareddy">Suresh Reddy Sannapareddy</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Thogunta-Srinivas">Thogunta Srinivas</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Satya-Gopinath-dasparavasthu">Satya Gopinath dasparavasthu</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Pappireddi-Maheswara-Reddy">Pappireddi Maheswara Reddy</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Perla-Sambamurti">Perla Sambamurti</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Bommi-Sri-Hari-Rao">Bommi Sri Hari Rao</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Dilip-Kumar-Kilaru">Dilip Kumar Kilaru</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/Shri-D-Purandeshwari">Shri D Purandeshwari</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
  <li><a href="/candidate-details/P-Sanyasi-Raju">P Sanyasi Raju</a> | <a href="javascript:;">[ Party ]</a> | <a href="javascript:;">[ State ]</a></li>
</ul>
