<h2>News</h2>

<ul>
  <li>
    <h3>Lok Sabha 2019: Suriya and Shruti Haasan lead selfies at polling booth from Kollywood</h3>
    <img style="width: 200px;" src="https://akm-img-a-in.tosshub.com/indiatoday/styles/photo_slider_753x543/public/images/photogallery/201904/Selfie3_IT_1555562822590.jpg?TEZkXw7PtYFngIslcm3vM5eG.Smdo7Ma">
  </li>

  <li>
    <h3>Shah Rukh Khan on his next: I haven’t decided. Don't have anything that's exciting to work on</h3>
    <img style="width: 200px; margin-left: 500px;" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201904/shah_rukh.jpeg?H64sj5_yL_NgLwwqDLIKC5Qm16wLCDgP">
  </li>

  <li>
    <h3>Punjab CM Amarinder Singh condemns beheading of two Punjabis in Saudi Arabia, calls it barbaric</h3>
    <img style="width: 200px;" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201904/captain_amarinder_singh_0.jpeg?aVRXEjAYoXfaljcDa7ykJ5vKWCwLdG1d">
  </li>

  <li>
    <h3>BJP worker found hanging in West Bengal's Purulia</h3>
    <img style="width: 200px; margin-left: 500px;" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201904/SUICIDE_0.jpeg?sWoUzwUfNizHuggvgnNOkRPY6afyHhQ8">
  </li>

  <li>
    <h3>Chhattisgarh: 2 Naxals accused of killing BJP MLA gunned down</h3>
    <img style="width: 200px;" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201904/naxal-pti-story_647_0.jpeg?rEdg73.Rp2mmGKMMTeOVa0QvVL45GDxC">
  </li>

  <li>
    <h3>Who's lying? PM Modi or PSU banks? Vijay Mallya wonders in new tweet</h3>
    <img style="width: 200px; margin-left: 500px;" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201904/Vijay_Mallya.jpeg?8wMhjZZij8os4a.yHfAz2XLojgjSdqa6">
  </li>

  <li>
    <h3>Heavy rain, thunderstorm leave nearly 50 dead in 4 states</h3>
    <img style="width: 200px;" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201904/storm_PTI.jpeg?vd5vzL36y3E0pDmikC6bi4Jy3SCzJU04">
  </li>
</ul>
