<h2>Blog</h2>

<ul>
  <li>
    <h3>Delhi Lok Sabha Seats 2019: Tussle Between AAP and BJP</h3>
    <img style="width: 300px;" src="http://images.elections.in/blog/2019/02/Delhi-Lok-Sabha-Seats-Tussle-between-AAP-and-BJP.jpg">
    <p>The BJP arrived in 2014 with a consolidated Hindu vote riding on the call for a development-driven and corruption-free model of governance that appealed to all sections of society alike. On record, this government has seen lesser communal disturbances in its present tenure. Yet a section of civil society and public...</p>
  </li>

  <li>
    <h3>2019 Lok Sabha elections – The Grand Alliance of Jharkhand</h3>
    <img style="width: 300px;" src="http://images.elections.in/blog/2019/02/The-Grand-Alliance-of-Jharkhand.jpg">
    <p>Rajasthan Assembly Elections 2018 - Vasundhara Raje, the chief minister of Rajasthan, on Saturday said the Congress fielded former BJP leader Jaswant Singh’s son Manvendra Singh from her Jhalrapatan constituency in the upcoming Assembly polls as it could not find any other...</p>
  </li>

  <li>
    <h3>Telangana Elections 2018 – Multiple Horse Race with only One in Prime Shape to Win</h3>
    <img style="width: 300px;" src="http://www.elections.in/election-new/images/elections.in.png">
    <p>Telangana Assembly Elections 2018 : Former Chhattisgarh chief minister Ajit Jogi on Saturday released his party’s manifesto on stamp paper for the state Assembly polls and challenged the ruling BJP, and the Congress to do the same...</p>
  </li>

  <li>
    <h3>Did BJP just Cut the Branch it was Sitting on or Plant a New one to Climb on</h3>
    <img style="width: 300px;" src="http://images.elections.in/blog/2018/11/SC-ST-act.jpg">
    <p>Chhattisgarh Assembly Elections 2018 : Former Chhattisgarh chief minister Ajit Jogi on Saturday released his party’s manifesto on stamp paper for the state Assembly polls and challenged the ruling BJP, and the Congress to do the same...</p>
  </li>

  <li>
    <h3>Rajasthan Assembly Elections 2018: Manvendra Singh Vs. Vasundhara Raje or Congress Vs. BJP.</h3>
    <img style="width: 300px;" src="http://images.elections.in/blog/2018/11/Manvendra-Singh-Vs.-Vasundhara-Raje.jpg">
    <p>Rajasthan Assembly Elections 2018 - Vasundhara Raje, the chief minister of Rajasthan, on Saturday said the Congress fielded former BJP leader Jaswant Singh’s son Manvendra Singh from her Jhalrapatan constituency in the upcoming Assembly polls as it could not find any other...</p>
  </li>
</ul>
