<h2>We are Democracy India</h2>
<p>We are a part of a democratic society. Indian Constitution is a part of the democracy. But what exactly is the democracy? How did it come into existence? How does it work? Let’s find out more about it.</p>
<p>Democracy is a system of government in which the citizens exercise power directly or elect representatives from among themselves to form a governing body, such as a parliament. It is also referred as “rule of the majority”. Here the power can’t be inherited. People elect their leaders. Representatives stand in an election and the citizens vote for their representative. The representative with the most number of votes gets the power.</p>

<h2>What we do</h2>
<p>We educate. We want people to know everything and anything that they need to know about our democracy, laws, execution and politics behind it.</p>

<h2>Our Mission</h2>
<p>One day every indian should vote looking beyong the politics of demography.</p>

<h2>How it works</h2>
<p>We are a tool where you can educate yourself with how exactly the democracy works and how it will affect you directly or indirectly. You can also search for divisions, candidates, statistics and so on.</p>
